background-color{
    color: lightgoldenrodyellow
}
#main-nav{
    background-color: lightseagreen;
    font-size: 30px;
    text-align: center;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}